{
  "root": true,

  "extends": "@ljharb",

  "rules": {
    "indent": [2, 2, {"SwitchCase": 2}],
    "handle-callback-err": [2, "^err"],
    "valid-jsdoc": [2, {
      "requireReturn": false,
      "requireReturnDescription": false,
      "prefer": {
        "return": "returns"
      }
    }],
    "require-jsdoc": [2, {
      "require": {
        "FunctionDeclaration": true
      }
    }],
    "strict": 0,
    "dot-notation": 0,
    "eqeqeq": 0,

    "no-underscore-dangle": 0,
    "camelcase": 0,
    "func-style": 0,
    "max-lines": 0,
    "id-length": 1,
    "multiline-comment-style": 0,

    "no-plusplus": 1,
    "no-caller": 1,
  },

  "env": {
    "node": true
  },
}
